---
layout: default
---

<!-- begin #page-container -->
<div id="page-container" class="fade">

  {% include header.html %} <!-- _includes/header.html -->

  {% include home.html %} <!-- _includes/home.html -->

  {% include about.html %} <!-- _includes/about.html -->

  {% include milestone.html %} <!-- _includes/milestone.html -->

  {% include team.html %} <!-- _includess/team.html -->

  {% include qoute.html %} <!-- _includes/qoute.html -->

  {% include solution.html %} <!-- _includes/service.html -->

  {% include action.html %} <!-- _includes/action.html -->

  {% include work.html %} <!-- _includes/work.html -->

  {% include client.html %} <!-- _includes/client.html -->

  {% include pricing.html %} <!-- _includes/pricing.html -->

  {% include gallery.html %} <!-- _includes/gallery.html -->

  {% include contact.html %} <!-- _includes/contact.html -->

</div>
<!-- end #page-container -->
