<!-- begin container -->
<div class="container">
  <h2 class="content-title">{{ 'SOLUTIONS.HEADER' | translate }}</h2>
  <p class="content-desc">
    {{ 'SOLUTIONS.DESCRIPTION' | translate }}
  </p>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="assets/img/solutions/agri.jpg" alt="faniot-agri" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title text-left">FANIoT Agri</h5>
          <p class="card-text"></p>
          <a href="#solution" class="btn btn-primary">{{ 'SOLUTIONS.LETGO' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="assets/img/solutions/garden.jpg" alt="faniot-garden" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title text-left">FANIoT Garden</h5>
          <p class="card-text"></p>
          <a href="#solution" class="btn btn-primary">{{ 'SOLUTIONS.LETGO' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="assets/img/solutions/poultry.jpg" alt="faniot-poultry" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title text-left">FANIoT Poultry</h5>
          <p class="card-text"></p>
          <a href="#solution" class="btn btn-primary">{{ 'SOLUTIONS.LETGO' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="assets/img/solutions/parking.jpg" alt="faniot-parking" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title text-left">FANIoT Parking</h5>
          <p class="card-text"></p>
          <a href="#solution" class="btn btn-primary">{{ 'SOLUTIONS.LETGO' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="assets/img/solutions/obd.jpg" alt="faniot-obd" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title text-left">FANIoT OBD</h5>
          <p class="card-text"></p>
          <a href="#solution" class="btn btn-primary">{{ 'SOLUTIONS.LETGO' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="assets/img/solutions/husbandry.jpg" alt="faniot-husbandry" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title text-left">FANIoT Husbandry</h5>
          <p class="card-text"></p>
          <a href="#solution" class="btn btn-primary">{{ 'SOLUTIONS.LETGO' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
