<!-- begin container -->
<div class="container" data-animation="true" data-animation-type="fadeInDown">
  <h2 class="content-title">{{ 'ABOUT.HEADER' | translate }}</h2>
  <p class="content-desc">
    {{ 'ABOUT.DESCRIPTION' | translate }}
  </p>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-4 -->
    <div class="col-lg-4 col-md-6">
      <!-- begin about -->
      <div class="about">
        <h3>Our Story</h3>
        <p>
          We provide solutions for a variety of verticals such as agriculture, gardening, husbandry, poultry, industrial automation and etc.
          Our customized innovative solutions set new standard for quality, reliability, ease of use and reduced total cost.
        </p>
        <p>
          We believe in treating our customers, partners and suppliers with honesty and integrity in everything we do.
          Our vision is to play a key role in employing technologies to make life easier and more joyful.
        </p>
      </div>
      <!-- end about -->
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-lg-4 col-md-6">
      <h3>{{ 'ABOUT.PHILOSOPHY.HEADER' | translate }}</h3>
      <!-- begin about-author -->
      <div class="about-author">
        <div class="quote bg-silver" [innerHTML]="'ABOUT.PHILOSOPHY.QOUTE' | translate">
        </div>
        <div class="author">
          <div class="image">
            <img src="../assets/img/logo/logo-3.png" alt="Avidnet" />
          </div>
          <div class="info">
            {{ 'ABOUT.PHILOSOPHY.MAN' | translate }}
            <small></small>
          </div>
        </div>
      </div>
      <!-- end about-author -->
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-lg-4 col-md-12">
      <h3>Our Experience</h3>
      <!-- begin skills -->
      <div class="skills">
        <div class="skills-name">Wireless Sensor Network &amp; IoT Hardware</div>
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" style="width: 95%">
            <span class="progress-number">95%</span>
          </div>
        </div>
        <div class="skills-name">IoT Platform &amp; Data Mining</div>
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" style="width: 90%">
            <span class="progress-number">90%</span>
          </div>
        </div>
        <div class="skills-name">Software &amp; Application Development</div>
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" style="width: 85%">
            <span class="progress-number">85%</span>
          </div>
        </div>
        <div class="skills-name">Remote Sensing Technology</div>
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" style="width: 85%">
            <span class="progress-number">85%</span>
          </div>
        </div>
      </div>
      <!-- end skills -->
    </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
