<!-- begin container -->
<div class="container">
  <h2 class="content-title">Our Price</h2>
  <p class="content-desc">
  </p>
  <!-- begin pricing-table -->
  <div class="row">
    <ul class="pricing-table col-md-4 col-sm-6">
      <li data-animation="true" data-animation-type="fadeInUp">
        <div class="pricing-container">
          <h3>Starter</h3>
          <div class="price">
            <div class="price-figure">
              <span class="price-number">FREE</span>
            </div>
          </div>
          <ul class="features">
            <li>10 Things</li>
            <li>1 Project</li>
            <li>24/7 Email support</li>
          </ul>
          <div class="footer">
            <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- end container -->
