<!-- begin content-bg -->
<div class="content-bg">
  <img src="assets/img/bg/bg-quote.jpg" alt="Quote" />
</div>
<!-- end content-bg -->
<!-- begin container -->
<div class="container" data-animation="true" data-animation-type="fadeInLeft">
  <!-- begin row -->
  <div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12 quote">
      <i class="fa fa-quote-left"></i>Imagine <span class="text-theme">boundless</span>, <br />
      Start <span class="text-theme">Small</span>
      <i class="fa fa-quote-right"></i>
      <small>Avidnet Software Team</small>
    </div>
    <!-- end col-12 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
