<!-- beign #action-box -->
<div id="action-box" class="content has-bg" data-scrollview="true">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="../assets/img/bg/bg-action.jpg" alt="Action" />
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInRight">
    <!-- begin row -->
    <div class="row action-box">
      <!-- begin col-9 -->
      <div class="col-md-9 col-sm-9">
        <div class="icon-large text-theme">
          <i class="fa fa-binoculars"></i>
        </div>
        <h3><a href="https://platform.avidnet.io">CHECK OUT OUR IOT PLATFORM!</a></h3>
        <p>
          FANIoT is a basis to all Avidnet solutions.
        </p>
      </div>
      <!-- end col-9 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3">
        <!-- Avidnet data-center I1820 platform instance -->
        <!-- <a href="#" class="btn btn-outline btn-block">Live Preview</a> -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #action-box -->
