<!-- begin #client -->
<div id="client" class="content has-bg bg-green" data-scrollview="true">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="../assets/img/bg/bg-client.jpg" alt="Client" />
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInUp">
    <h2 class="content-title">Our Client Testimonials</h2>
    <!-- begin carousel -->
    <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
      <!-- begin carousel-inner -->
      <div class="carousel-inner text-center">
        <!-- begin item -->
        <div class="item active">
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra, nulla ut interdum fringilla,<br />
            urna massa cursus lectus, eget rutrum lectus neque non ex.
            <i class="fa fa-quote-right"></i>
          </blockquote>
          <div class="name"> — <span class="text-theme">Mark Doe</span>, Designer</div>
        </div>
        <!-- end item -->
        <!-- begin item -->
        <div class="item">
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Donec cursus ligula at ante vulputate laoreet. Nulla egestas sit amet lorem non bibendum.<br />
            Nulla eget risus velit. Pellentesque tincidunt velit vitae tincidunt finibus.
            <i class="fa fa-quote-right"></i>
          </blockquote>
          <div class="name"> — <span class="text-theme">Joe Smith</span>, Developer</div>
        </div>
        <!-- end item -->
        <!-- begin item -->
        <div class="item">
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan elit vestibulum<br />
            fringilla. In sollicitudin ac ligula eget vestibulum.
            <i class="fa fa-quote-right"></i>
          </blockquote>
          <div class="name"> — <span class="text-theme">Linda Adams</span>, Programmer</div>
        </div>
        <!-- end item -->
      </div>
      <!-- end carousel-inner -->
      <!-- begin carousel-indicators -->
      <ol class="carousel-indicators">
        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials" data-slide-to="1" class=""></li>
        <li data-target="#testimonials" data-slide-to="2" class=""></li>
      </ol>
      <!-- end carousel-indicators -->
    </div>
    <!-- end carousel -->
  </div>
  <!-- end containter -->
</div>
<!-- end #client -->
