<!-- begin #contact -->
<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Contact Us</h2>
    <p class="content-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
      sed bibendum turpis luctus eget
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-6 -->
      <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
        <h3>All opinions are welcome here</h3>
        <p>
        </p>
        <p>
          <strong>Avid Net Technology</strong><br />
          3th Unit, First Floor, 3th Yas, Golha Blvd<br />
          Golestan Township, Tehran, Iran<br />
          P: (123) 456-7890<br />
        </p>
        <p>
          <span class="phone">+11 (0) 123 456 78</span><br />
          <a href="mailto:hello@avidnet.io">hello@avidnet.io</a>
        </p>
      </div>
      <!-- end col-6 -->
      <!-- begin col-6 -->
      <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6476.036466806382!2d51.2524356!3d35.7503566!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8de4ad7b6e8d71%3A0xc0bd0f2609fc03aa!2zMzXCsDQ1JzA0LjMiTiA1McKwMTUnMTEuMSJF!5e0!3m2!1sen!2s!4v1540983221105" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #contact -->
