<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ '/assets/plugins/jquery/jquery-3.2.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/bootstrap3/js/bootstrap.min.js' | relative_url }}"></script>
<!--[if lt IE 9]>
  <script src="assets/crossbrowserjs/html5shiv.js"></script>
  <script src="assets/crossbrowserjs/respond.min.js"></script>
  <script src="assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="{{ '/assets/plugins/js-cookie/js.cookie.js | relative_url }}"></script>
<script src="{{ '/assets/plugins/scrollMonitor/scrollMonitor.js | relative_url }}"></script>
<script src="{{ '/assets/js/one-page-parallax/apps.min.js | relative_url }}"></script>
<!-- ================== END BASE JS ================== -->

<script>
  $(document).ready(function() {
    App.init();
  });
</script>
