<!-- begin #footer -->
<div id="footer" class="footer">
  <div class="container">
    <div class="footer-brand">
      <img src="{{ '/assets/img/logo-2.png' | relative_url }}" height="200px" alt="Logo" />
    </div>
    <p>
      &copy; Copyright Avid Net Technology 2018 <br />
    </p>
    <p class="social-list">
      <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
      <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
      <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
      <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
      <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
    </p>
  </div>
</div>
<!-- end #footer -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ '/assets/plugins/jquery/jquery-3.2.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/bootstrap3/js/bootstrap.min.js' | relative_url }}"></script>
<!--[if lt IE 9]>
  <script src="assets/crossbrowserjs/html5shiv.js"></script>
  <script src="assets/crossbrowserjs/respond.min.js"></script>
  <script src="assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="{{ '/assets/plugins/js-cookie/js.cookie.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/scrollMonitor/scrollMonitor.js' | relative_url }}"></script>
<script src="{{ '/assets/js/one-page-parallax/apps.min.js' | relative_url }}"></script>
<!-- ================== END BASE JS ================== -->

<script>
  $(document).ready(function() {
    App.init();
  });
</script>
