<!-- begin #header -->
<div id="header" class="header navbar navbar-transparent navbar-fixed-top">
  <!-- begin container -->
  <div class="container">
    <!-- begin navbar-header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html" class="navbar-brand">
        <img src="{{ '/assets/img/logo-1.png' | relative_url }}" alt="Logo" />
      </a>
    </div>
    <!-- end navbar-header -->
    <!-- begin navbar-collapse -->
    <div class="collapse navbar-collapse" id="header-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#home" data-click="scroll-to-target">{% t sections.home %}</a></li>
        <li><a href="#about" data-click="scroll-to-target">{% t sections.about %}</a></li>
        <li><a href="#team" data-click="scroll-to-target">{% t sections.team %}</a></li>
        <li><a href="#solution" data-click="scroll-to-target">{% t sections.solution %}</a></li>
        <li><a href="#work" data-click="scroll-to-target">{% t sections.work %}</a></li>
        <li><a href="#client" data-click="scroll-to-target">{% t sections.client %}</a></li>
        <li><a href="#pricing" data-click="scroll-to-target">{% t sections.pricing %}</a></li>
        <li><a href="#contact" data-click="scroll-to-target">{% t sections.contact %}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            PRODUCTS
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/rancal">Rancal</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end navbar-collapse -->
  </div>
  <!-- end container -->
</div>
<!-- end #header -->
