<head>
  <meta charset="utf-8" />
  <title>Avid Net Technology</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="Avid Net Technology website" name="description" />
  <meta content="Parham Alvani" name="author" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="{{ '/assets/plugins/bootstrap3/css/bootstrap.min.css' | relative_url }}" rel="stylesheet" />
  <link href="{{ '/assets/plugins/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet" />
  <link href="{{ '/assets/plugins/animate/animate.min.css' | relative_url }}" rel="stylesheet" />
  <link href="{{ '/assets/css/style.min.css' | relative_url }}" rel="stylesheet" />
  <link href="{{ '/assets/css/style-responsive.min.css' | relative_url }}" rel="stylesheet" />
  <link href="{{ '/assets/css/theme/default.css' | relative_url }}" rel="stylesheet" />
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN ICONS ================== -->
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.png' | relative_url }}" />
  <!-- ================== END ICONS ================== -->

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="{{ '/assets/plugins/pace/pace.min.js' | relative_url }}"></script> <!-- An automatic web page progress bar. -->
  <link rel="{{ '/assets/plugins/pace/themes/pace-theme-barber-shop.css' | relative_url }}" rel="stylesheet" />
  <!-- ================== END BASE JS ================== -->
</head>
