<!-- begin #home -->
<div id="home" class="content has-bg home">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="{{ '/assets/img/bg/bg-home.jpg' | relative_url }}" alt="Home" />
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container home-content">
    <h1>Welcome to Avid Net Technology</h1>
    <h3></h3>
    <p>
    </p>
    <a href="#about" class="btn btn-theme">Explore More</a><br />
  </div>
  <!-- end container -->
  <!-- begin usplash-photo-credit -->
    <h6 style="position: absolute; bottom: 0; left: 15px;">
    Photo by
    <a href="https://unsplash.com/photos/JR8XZ-gdZrA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Henry Be</a>
    on
    <a href="https://unsplash.com/search/photos/widescreen-farm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </h6>
  <!-- end usplash-photo-credit -->
</div>
<!-- end #home -->
