<style>
.carousel .bg-cover-img {
  position: absolute;
  height: auto;
  min-width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.carousel .carousel-inner, .carousel .carousel-inner .item, .slider .carousel {
  height: 100%;
  background-color: #757575;
}

.carousel .carousel-inner .item::after {
  content: '';
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-control {
  height: 60px;
  width: 40px;
  top: 50%;
  margin-top: -30px;
}
</style>
<!-- begin #home -->
<div id="home" class="section-container p-0 bg-black-darker">
  <!-- begin content-bg -->
  <div id="main-carousel" class="carousel slide" data-ride="carousel" style="height: 100%">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="bg-cover-img" src="{{ '/assets/img/bg/bg-home-1.webp' | relative_url }}" alt="Home" />
        <div class="carousel-caption">
          <h6>
            <!-- Photo by Henry Be on Unsplash -->
          </h6>
        </div>
      </div>
      <div class="item">
        <img class="bg-cover-img" src="{{ '/assets/img/bg/bg-home-2.webp' | relative_url }}" alt="Home" />
        <div class="carousel-caption">
          <h6>
            <!-- Photo by Mario Caruso on Unsplash -->
          </h6>
        </div>
      </div>
      <div class="item">
        <img class="bg-cover-img" src="{{ '/assets/img/bg/bg-home-3.webp' | relative_url }}" alt="Home" />
        <div class="carousel-caption">
          <h6>
            <!-- Photo by Majid Masajedi on Unsplash -->
          </h6>
        </div>
      </div>
      <div class="item">
        <img class="bg-cover-img" src="{{ '/assets/img/bg/bg-home-4.webp' | relative_url }}" alt="Home" />
        <div class="carousel-caption">
          <h6>
            <!-- Photo by Fabian Grohs on Unsplash -->
          </h6>
        </div>
      </div>
      <div class="item">
        <img class="bg-cover-img" src="{{ '/assets/img/bg/bg-home-5.webp' | relative_url }}" alt="Home" />
        <div class="carousel-caption">
          <h6>
            <!-- Photo by Andres Prieto Molina on Unsplash -->
          </h6>
        </div>
      </div>
      <div class="item">
        <img class="bg-cover-img" src="{{ '/assets/img/bg/bg-home-6.webp' | relative_url }}" alt="Home" />
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#main-carousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#main-carousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container home-content">
    <h1>Welcome to<br />Avid Net Technology</h1>
    <h3></h3>
    <p>
    </p>
    <a href="#about" class="btn btn-theme">Explore More</a><br />
  </div>
  <!-- end container -->
</div>
<!-- end #home -->
