<!-- begin #milestone -->
<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="../assets/img/bg/bg-milestone.jpg" alt="Milestone" />
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container">
    <!-- begin row -->
    <div class="row">
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <!--
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="1292">1,292</div>
          <div class="title"></div>
          -->
        </div>
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <!--
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="9039">9,039</div>
          <div class="title"></div>
          -->
        </div>
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <!--
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="89291">89,291</div>
          <div class="title"></div>
          -->
        </div>
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <!--
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="129">129</div>
          <div class="title"></div>
          -->
        </div>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #milestone -->
