<!-- begin #pricing -->
<div id="pricing" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Our Price</h2>
    <p class="content-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
      sed bibendum turpis luctus eget
    </p>
    <!-- begin pricing-table -->
    <ul class="pricing-table col-4">
      <li data-animation="true" data-animation-type="fadeInUp">
        <div class="pricing-container">
          <h3>Starter</h3>
          <div class="price">
            <div class="price-figure">
              <span class="price-number">FREE</span>
            </div>
          </div>
          <ul class="features">
            <li>1GB Storage</li>
            <li>2 Clients</li>
            <li>5 Active Projects</li>
            <li>5 Colors</li>
            <li>Free Goodies</li>
            <li>24/7 Email support</li>
          </ul>
          <div class="footer">
            <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
          </div>
        </div>
      </li>
      <li data-animation="true" data-animation-type="fadeInUp">
        <div class="pricing-container">
          <h3>Basic</h3>
          <div class="price">
            <div class="price-figure">
              <span class="price-number">$9.99</span>
              <span class="price-tenure">per month</span>
            </div>
          </div>
          <ul class="features">
            <li>2GB Storage</li>
            <li>5 Clients</li>
            <li>10 Active Projects</li>
            <li>10 Colors</li>
            <li>Free Goodies</li>
            <li>24/7 Email support</li>
          </ul>
          <div class="footer">
            <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
          </div>
        </div>
      </li>
      <li class="highlight" data-animation="true" data-animation-type="fadeInUp">
        <div class="pricing-container">
          <h3>Premium</h3>
          <div class="price">
            <div class="price-figure">
              <span class="price-number">$19.99</span>
              <span class="price-tenure">per month</span>
            </div>
          </div>
          <ul class="features">
            <li>5GB Storage</li>
            <li>10 Clients</li>
            <li>20 Active Projects</li>
            <li>20 Colors</li>
            <li>Free Goodies</li>
            <li>24/7 Email support</li>
          </ul>
          <div class="footer">
            <a href="#" class="btn btn-theme btn-block">Buy Now</a>
          </div>
        </div>
      </li>
      <li data-animation="true" data-animation-type="fadeInUp">
        <div class="pricing-container">
          <h3>Lifetime</h3>
          <div class="price">
            <div class="price-figure">
              <span class="price-number">$999</span>
            </div>
          </div>
          <ul class="features">
            <li>Unlimited Storage</li>
            <li>Unlimited Clients</li>
            <li>Unlimited Projects</li>
            <li>Unlimited Colors</li>
            <li>Free Goodies</li>
            <li>24/7 Email support</li>
          </ul>
          <div class="footer">
            <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- end container -->
</div>
<!-- end #pricing -->
