<style>
.service.thumbnail>img {
  height: 265px;
}
.service {
  height: 500px;
}
</style>
<!-- beign #solution -->
<div id="solution" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Our Solutions</h2>
    <p class="content-desc">
      Avidnet provides you with smart solutions that improve your productivity.
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service thumbnail">
          <img src="{{ 'assets/img/solutions/agri.jpg' | realative_url }}" alt="faniot-agri" class="card-img-top" height="200px" />
          <div class="caption">
            <h3>FANIOT Agri</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#solution" class="btn btn-primary">Let's Go</a></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service thumbnail">
          <img src="{{ 'assets/img/solutions/garden.jpg' | realative_url }}" alt="faniot-garden" class="card-img-top" height="200px" />
          <div class="caption">
            <h3>FANIOT Garden</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#solution" class="btn btn-primary">Let's Go</a></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service thumbnail">
          <img src="{{ 'assets/img/solutions/poultry.jpg' | realative_url }}" alt="faniot-poultry" class="card-img-top" height="200px" />
          <div class="caption">
            <h3>FANIOT Poultry</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#solution" class="btn btn-primary">Let's Go</a></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service thumbnail">
          <img src="{{ 'assets/img/solutions/parking.jpg' | realative_url }}" alt="faniot-parking" class="card-img-top" height="200px" />
          <div class="caption">
            <h3>FANIOT Parking</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#solution" class="btn btn-primary">Let's Go</a></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service thumbnail">
          <img src="{{ 'assets/img/solutions/obd.jpg' | realative_url }}" alt="faniot-obd" class="card-img-top" height="200px" />
          <div class="caption">
            <h3>FANIOT OBD</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#solution" class="btn btn-primary">Let's Go</a></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service thumbnail">
          <img src="{{ 'assets/img/solutions/husbandry.jpg' | realative_url }}" alt="faniot-husbandry" class="card-img-top" height="200px" />
          <div class="caption">
            <h3>FANIOT Husbandry</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#solution" class="btn btn-primary">Let's Go</a></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #solution -->
