<!-- beign #solution -->
<div id="service" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Our Services</h2>
    <p class="content-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
      sed bibendum turpis luctus eget
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service">
          <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
          <div class="info">
            <h4 class="title">FANIOT Argi</h4>
            <p class="desc"></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service">
          <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
          <div class="info">
            <h4 class="title">FANIOT OBD</h4>
            <p class="desc"></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service">
          <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>
          <div class="info">
            <h4 class="title">FANIOT Poultry</h4>
            <p class="desc"></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service">
          <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-code"></i></div>
          <div class="info">
            <h4 class="title">FANIOT Garden</h4>
            <p class="desc"></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service">
          <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-shopping-cart"></i></div>
          <div class="info">
            <h4 class="title">FANIOT Parking</h4>
            <p class="desc"></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <div class="service">
          <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>
          <div class="info">
            <h4 class="title">FANIOT Husbandry</h4>
            <p class="desc"></p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #solution -->
