<!-- begin #work -->
<div id="work" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInDown">
    <h2 class="content-title">Our Latest Work</h2>
    <p class="content-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
      sed bibendum turpis luctus eget
    </p>
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-1.jpg" alt="Work 1" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Aliquam molestie</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-2.jpg" alt="Work 2" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Quisque at pulvinar lacus</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-3.jpg" alt="Work 3" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Vestibulum et erat ornare</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-4.jpg" alt="Work 4" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Sed vitae mollis magna</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-5.jpg" alt="Work 5" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Suspendisse at mattis odio</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-6.jpg" alt="Work 6" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Aliquam vitae commodo diam</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-7.jpg" alt="Work 7" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Phasellus eu vehicula lorem</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-6">
        <!-- begin work -->
        <div class="work">
          <div class="image">
            <a href="#"><img src="../assets/img/work/work-img-8.jpg" alt="Work 8" /></a>
          </div>
          <div class="desc">
            <span class="desc-title">Morbi bibendum pellentesque</span>
            <span class="desc-text">Lorem ipsum dolor sit amet</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #work -->
