:host {
  display: block;
}

.milestone {
  text-align: center;

  & .number {
    font-size: 42px;
    color: #fff;
    font-weight: 300;
  }
  & .title {
    color: #8F8E8E;
  }
}

.milestone-col + .milestone-col {
  border-left: 1px solid rgba(255,255,255,0.2);
}

@media (max-width: 767px) {
  .milestone-col + .milestone-col {
    border: none;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 15px;
    padding-top: 15px !important;
  }
}
