<nav class="header navbar navbar-expand-lg navbar-transparent fixed-top" [class.navbar-small]="hasScroll">
  <!-- begin container -->
  <div class="container">
    <!-- begin navbar-brand -->
    <a href="index.html" class="navbar-brand">
      <img src="assets/img/logo/logo-1.png" alt="Logo" />
    </a>
    <!-- end navbar-brand -->
    <button class="navbar-toggler" (click)="isCollapse=!isCollapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-expand">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="changeLanguage()">{{ translate.currentLang === 'en' ? 'English' : 'فارسی' }}</a>
        </li>
      </ul>
    </div>

    <!-- begin navbar-expand -->
    <div class="navbar-collapse justify-content-end" [ngbCollapse]="isCollapse">
      <ul class="nav navbar-nav" [dir]="translate.currentLang === 'en' ? 'ltr' : 'rtl'">
        <li class="nav-item"><a [ngx-scroll-to]="'#home'" href="#home" class="nav-link">{{ 'NAV.HOME' | translate | uppercase }}</a></li>
        <li class="nav-item"><a [ngx-scroll-to]="'#about'" href="#about" class="nav-link">{{ 'NAV.ABOUT' | translate | uppercase }}</a></li>
        <li class="nav-item"><a [ngx-scroll-to]="'#team'" href="#team" class="nav-link">{{ 'NAV.TEAM' | translate | uppercase }}</a></li>
        <li class="nav-item"><a [ngx-scroll-to]="'#service'" href="#service" class="nav-link">{{ 'NAV.SOLUTION' | translate | uppercase }}</a></li>
        <li class="nav-item"><a [ngx-scroll-to]="'#work'" href="#work" class="nav-link">{{ 'NAV.WORK' | translate | uppercase }}</a></li>
        <li class="nav-item"><a [ngx-scroll-to]="'#client'" href="#client" class="nav-link">{{ 'NAV.CLIENT' | translate | uppercase }}</a></li>
        <li class="nav-item"><a [ngx-scroll-to]="'#pricing'" href="#pricing" class="nav-link">{{ 'NAV.PRICING' | translate | uppercase }}</a></li>
        <li class="nav-item "><a [ngx-scroll-to]="'#contact'" href="#contact" class="nav-link">{{ 'NAV.CONTACT' | translate | uppercase }}</a></li>
        <li class="nav-item "><a [ngx-scroll-to]="'#gallery'" href="#gallery" class="nav-link">{{ 'NAV.GALLERY' | translate | uppercase }}</a></li>
        <!-- 
        <li class="nav-item dropdown" ngbDropdown>
          <a class="dropdown-toggle nav-link" ngbDropdownToggle>
            PRODUCTS
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a href="/rancal" class="dropdown-item">Rancal</a>
          </div>
        </li>
        -->
      </ul>
    </div>
    <!-- end navbar-expand -->
  </div>
  <!-- end container -->
</nav>
