<nav class="header navbar navbar-expand-lg navbar-transparent fixed-top" [class.navbar-small]="hasScroll">
  <!-- begin container -->
  <div class="container">
    <!-- begin navbar-brand -->
    <a href="index.html" class="navbar-brand">
      <img src="assets/img/logo-1.png" alt="Logo" />
    </a>
    <!-- end navbar-brand -->
    <button class="navbar-toggler" (click)="isCollapse=!isCollapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- begin navbar-expand -->
    <div class="navbar-collapse" [ngbCollapse]="isCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a href="#home" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">ABOUT</a></li>
        <li class="nav-item"><a href="#team" class="nav-link">TEAM</a></li>
        <li class="nav-item"><a href="#service" class="nav-link">SOLUTION</a></li>
        <li class="nav-item"><a href="#work" class="nav-link">WORK</a></li>
        <li class="nav-item"><a href="#client" class="nav-link">CLIENT</a></li>
        <li class="nav-item"><a href="#pricing" class="nav-link">PRICING</a></li>
        <li class="nav-item "><a href="#contact" class="nav-link">CONTACT</a></li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="dropdown-toggle nav-link" ngbDropdownToggle>
            PRODUCTS
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a href="/rancal" class="dropdown-item">Rancal</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- end navbar-expand -->
  </div>
  <!-- end container -->
</nav>
