<img src="assets/img/logo/KBC-en.png" class="kbc">

<!-- begin #home -->
<app-home id="home"></app-home>
<!-- end #home -->

<!-- begin #about -->
<app-about id="about"></app-about>
<!-- end #about -->

<!-- begin #faniot -->
<app-faniot id="faniot"></app-faniot>
<!-- end #faniot -->

<!-- begin #milestone -->
<app-milestone id="milestone"></app-milestone>
<!-- end #milestone -->

<!-- begin #team -->
<app-team id="team"></app-team>
<!-- end #team -->

<!-- begin #quote -->
<app-quote id="quote"></app-quote>
<!-- end #quote -->

<!-- beign #service -->
<app-solution id="service"></app-solution>
<!-- end #service -->

<!-- beign #action-box -->
<app-action id="action-box"></app-action>
<!-- end #action-box -->

<!-- begin #work -->
<!-- <app-work id="work"></app-work> -->
<!-- end #work -->

<!-- begin #client -->
<!-- <app-client id="client"></app-client> -->
<!-- end #client -->

<!-- begin #pricing -->
<!-- <app-pricing id="pricing"></app-pricing> -->
<!-- end #pricing -->

<!-- begin #contact -->
<app-contact id="contact"></app-contact>
<!-- end #contact -->

<!-- begin #gallery -->
<!-- <app-gallery id="gallery"></app-gallery> -->
<!-- end #gallery -->

<!-- begin #footer -->
<app-footer id="footer"></app-footer>
<!-- end #footer -->
