<!-- begin container -->
<div class="container">
  <h2 class="content-title">{{ 'TEAM.HEADER' | translate }}</h2>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12 team-quote quote" [innerHTML]="'TEAM.QUOTE' | translate">
    </div>
  </div>
  <div class="row m-t-25">
    <p class="content-desc">
      {{ 'TEAM.DESCRIPTION' | translate }}
    </p>
  </div>
  <!-- begin row -->
  <div class="row">
    <ng-container *ngFor="let member of members">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin team -->
        <div class="team">
          <div class="image" data-animation="true" data-animation-type="flipInX">
            <img src="{{member.avatar}}" alt="{{member.name}}" height="200px" />
          </div>
          <div class="info text-center">
            <h3 class="name">{{ translate.currentLang === 'fa' && member.nameFa ?  member.nameFa : member.name }}</h3>
            <div class="title text-theme text-center" *ngFor="let role of member.roles">{{ 'TEAM.ROLE.' + role | translate }}</div>
            <p>{{ translate.currentLang === 'fa' && member.bioFa ?  member.bioFa : member.bio }}</p>
            <div class="social text-center">
              <a *ngIf="member.url != ''" href="{{member.url}}"><i class="fas fa-home fa-lg fa-fw"></i></a>
              <a *ngFor="let social of member.socials | keyvalue" href="{{social.value}}"><i class="fab fa-{{social.key}} fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
        <!-- end team -->
      </div>
      <!-- end col-4 -->
    </ng-container>
  </div>
  <!-- end row -->
</div>
<!-- end container -->
