<!-- begin container -->
<div class="container">
  <h2 class="content-title">Our Solutions</h2>
  <p class="content-desc">
    Avidnet provides you with smart solutions that improve your productivity.
  </p>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <img src="assets/img/solutions/agri.jpg" alt="faniot-agri" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title">FANIoT Agri</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#solution" class="btn btn-primary">Let's Go</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <img src="assets/img/solutions/garden.jpg" alt="faniot-garden" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="class-title">FANIoT Garden</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#solution" class="btn btn-primary">Let's Go</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <img src="assets/img/solutions/poultry.jpg" alt="faniot-poultry" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title">FANIoT Poultry</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#solution" class="btn btn-primary">Let's Go</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <img src="assets/img/solutions/parking.jpg" alt="faniot-parking" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title">FANIoT Parking</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#solution" class="btn btn-primary">Let's Go</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <img src="assets/img/solutions/obd.jpg" alt="faniot-obd" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title">FANIoT OBD</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#solution" class="btn btn-primary">Let's Go</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <img src="assets/img/solutions/husbandry.jpg" alt="faniot-husbandry" class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title">FANIoT Husbandry</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#solution" class="btn btn-primary">Let's Go</a>
        </div>
      </div>
    </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
