<!-- begin content-bg -->
<ngb-carousel class="home-slideshow">
  <ng-template ngbSlide>
    <img src="assets/img/bg/bg-home-1.webp" alt="Home" class="bg-cover-img">
    <div class="carousel-caption">
      <h6>
        <!-- Photo by Henry Be on Unsplash -->
      </h6>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="bg-cover-img" src="assets/img/bg/bg-home-2.webp" alt="Home" />
    <div class="carousel-caption">
      <h6>
        <!-- Photo by Mario Caruso on Unsplash -->
      </h6>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="bg-cover-img" src="assets/img/bg/bg-home-3.webp" alt="Home" />
    <div class="carousel-caption">
      <h6>
        <!-- Photo by Majid Masajedi on Unsplash -->
      </h6>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="bg-cover-img" src="assets/img/bg/bg-home-4.webp" alt="Home" />
    <div class="carousel-caption">
      <h6>
        <!-- Photo by Fabian Grohs on Unsplash -->
      </h6>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="bg-cover-img" src="assets/img/bg/bg-home-5.webp" alt="Home" />
    <div class="carousel-caption">
      <h6>
        <!-- Photo by Andres Prieto Molina on Unsplash -->
      </h6>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="bg-cover-img" src="assets/img/bg/bg-home-6.webp" alt="Home" />
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
<!-- end content-bg -->
<!-- begin container -->
<div class="container home-content">
  <h1>Welcome to<br />Avid Net Technology</h1>
  <h3></h3>
  <p>
  </p>
  <a href="#about" class="btn btn-theme">Explore More</a><br />
</div>
<!-- end container -->
